body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #f1c40f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    position: sticky;
    top: 0;
  }
  
  .header h1 {
    font-size: 2em;
    font-weight: 700;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content h2 {
    color: #34495e;
  }
  
  .content p {
    color: #7f8c8d;
  }
  
  .content li {
    color: #7f8c8d;
    list-style-type: disc;
  }
  .content h3{
    color: #f1c40f;
  }

  .footer {
    background-color: #ecf0f1;
    color: #7f8c8d;
    text-align: center;
    padding: 20px;
  }

  /* The image container, which will contain all of the images to be displayed in the modal */
#imageContainer {
  display: flex; /* Display the images in a row */
  overflow-x: auto; /* Add a horizontal scrollbar if needed */
}

/* The images that will be displayed in the modal */
.modal-image {
  flex: 0 0 auto; /* Shrink the images to fit the container */
  width: auto; /* Set the width to auto to maintain the aspect ratio */
  height: 500px; /* Set a fixed height */
  margin-right: 20px; /* Add some space between the images */
}

/* Style the rest of the modal as in the previous example */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
